src
tsdown.config.ts
tsconfig.json

templates/cutting-edge-nextjs-template/node_modules
templates/cutting-edge-nextjs-template/build
templates/cutting-edge-nextjs-template/.react-router
templates/cutting-edge-nextjs-template/app/paraglide
templates/cutting-edge-nextjs-template/project.inlang/cache
templates/cutting-edge-nextjs-template/project.inlang/project_id
templates/cutting-edge-nextjs-template/pnpm-lock.yaml
